@using Orion.Web.UI.Models
@using Orion.Web.BLL.Expenditures

@model Orion.Web.UI.Models.AllExpendituresModel

@using Orion.Web.Employees
<nav id="bread-crumb-bar" class="red darken-3 z-depth-3">
    <div class="nav-wrapper ">
        <div class="col s12">
            <a href="#!" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb"> Expense Management</a>
            <a href="#!" class="breadcrumb"> Full Listing</a>
        </div>
    </div>
</nav>
<div class="">

    <style>
        .modal.working-panel {
            overflow: hidden;
            min-height: 500px !important;
        }

        .modal-info-blurb {
            height: 100vh;
        }
    </style>

    <div class="">
        <div class="row">
            <div class="col s3">
                <button class="btn  btn-default  btn-margin-right pull-right modal-trigger" data-target="add-new-modal">Create New</button>
            </div>
            <div class="col s9">
                <label for="quick-filter">Quick Filter Rows</label>
                <input id="quick-filter" type="text" class="input form-control" />
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <table class="table striped hover z-depth-2">
                    <thead>
                        <tr class="z-depth-2">
                            <th class="job-code-link-cell">
                                Job
                            </th>
                            <th>
                                Employee
                            </th>
                            <th>
                                Short Name
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Expense Date
                            </th>
                            <th class="action-links-cell"></th>
                        </tr>

                    </thead>
                    <tbody id="table-data">
                        @foreach (var item in Model.AsFullList())
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.FullJobNameWithCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.EmployeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.ShortExpenseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Amount)
                                </td>
                                <td>
                                    @item.ExpensedOnDateEst.ToShortDateString()
                                </td>
                                <td class="action-button-col">
                                    <a href="#" onclick="editExpense('@item.Id');return false;">Edit</a> |
                                    <a href="#" onclick="deleteExpense('@item.Id');return false;">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="add-new-modal" class="modal working-panel">
    <div class="row">
        <div class="col s3 red darken-3 white-text modal-info-blurb z-depth-4">
            <div class="container">
                <h5>Add New Expenditure</h5>
            </div>
        </div>
    
        <div class="col s9" style="position:relative;left:20px;width:65%;top:35px">
            <div class="input-field col s12">
                <h6>Select the type of expenditure to create...</h6>
                <select id="selected-exp-type">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="@ExpenditureTypeEnum.ArcFlashLabelExpenditure.ToString()">Arc Flash Label Expenditure</option>
                    <option value="@ExpenditureTypeEnum.MiscExpenditure.ToString()">Miscellaneous Expenditure</option>
                    <option value="@ExpenditureTypeEnum.TimeAndExpenceExpenditure.ToString()">Time and Expense Expenditure</option>
                    <option value="@ExpenditureTypeEnum.ContractorExpenditure.ToString()">Contractor Expenditure</option>
                    <option value="@ExpenditureTypeEnum.CompanyVehicleExpenditure.ToString()">Company Vehicle Expenditure</option>
                </select>               
            </div>
            <div class="modal-footer" style="vertical-align:bottom">
                <button type="button" class="waves-effect waves-white btn-flat" onclick="addNewExpense(document.getElementById('selected-exp-type').value)">Add Details</button>
                <button type="button" class="modal-close waves-effect waves-white btn-flat" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

</div>
<div id="modal-holder" class="modal working-panel">
    <div id="modal-content">

    </div>
</div>

<link rel="stylesheet" href="/css/site-table.css" />

@section Scripts {

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">

        const jobDataBlob = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AvailableJobs.ToDictionary(x => x.FullJobCodeWithName, x => x.JobId))) ;

            $(document).ready(function () {
            //wire up quick filter

            $("#quick-filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table-data tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            //wire up add expense modal, so data-target will work on btn
            var elems = document.getElementById('add-new-modal');
            M.Modal.init(elems, {});

        });
        function submitExpenseChanges(formName) {
            document.forms[formName].submit();
        }
        function deleteExpense(expId) {
            axios.delete('/expenses/' + expId)
                .then(response => {
                    window.location.reload(true)
                })
        }
        function addNewExpense(expenseName) {
            axios
                .get('/expenses/' + expenseName)
                .then(response => {                    
                    document.getElementById('modal-content').innerHTML = response.data;
                    var modalDiv = document.getElementById('modal-holder');                    
                    var rez = M.Modal.init(modalDiv, {});                    
                    var instance = M.Modal.getInstance(modalDiv);
                    instance.open();
                    initEditExpenseComponents();
                    InitMaterializeComponents();
                });
        }
        function editExpense(expId) {

            axios
                .get('/expenses/' + expId + '/edit-modal')
                .then(response => {                  
                    document.getElementById('modal-content').innerHTML = response.data;
                    var modalDiv = document.getElementById('modal-holder');                    
                    var rez = M.Modal.init(modalDiv, {});                    
                    var instance = M.Modal.getInstance(modalDiv);
                    instance.open();
                    initEditExpenseComponents();
                    InitMaterializeComponents();
                });

        }
    </script>


    <script src="/js/ExpenseManagement/edit-expense-modal.js" type="text/javascript"></script>

}
