@using Orion.Web.Employees
@using Orion.Web.TimeEntries
@using Orion.Web.Api.Expenditures.Models
@using Orion.Web.UI.Models

@model ExpenseViewModel
<style>
    .modal {
        width: 80vw;
    }
</style>
<div class="row" style="display:none">
    <div class="col s12">
        @if (Model.IsBrandNewExpenditureCreation && !Model.IsOnSaveFix)
                //default to first employee in case user doesn't change emp selection
                Model.ContractorExpenditure.Detail.EmployeeId = Model.AvailableEmployees.First().EmployeeId;
        }
        @Html.HiddenFor(x => x.ContractorExpenditure.Detail.EmployeeId);
        @Html.HiddenFor(x => x.ContractorExpenditure.Detail.JobId);
        @Html.HiddenFor(x => x.ContractorExpenditure.Detail.WeekId);
        @Html.HiddenFor(x => x.ContractorExpenditure.Detail.ExternalId);

    </div>
</div>
<div class="row">
    <div class="input-field col s10">
        @{
            var selectedJob = string.Empty;
            if (Model.IsOnSaveFix || !Model.IsBrandNewExpenditureCreation)
                selectedJob = Model.AvailableJobs.FirstOrDefault(x => x.JobId == Model.ContractorExpenditure.JobId)?.FullJobCodeWithName ?? string.Empty;
        }
        @if (!Model.IsBrandNewExpenditureCreation || Model.IsOnSaveFix)
            {
            <input type="hidden" id="original-job-text"
                   value="@selectedJob"
                   job-id="@Model.ContractorExpenditure.JobId" />
        }
        <i class="material-icons prefix">search</i>
        <input type="text" id="NewlySelectedJob-Name"
               class="autocomplete validate"
               value="@selectedJob"
               onfocus="oneTimeClear(this)"
               onchange="updateJobSelection(this,'ContractorExpenditure_Detail_JobId')"
               placeholder="Type Job Code..." />
        <label for="NewlySelectedJob-Name">Expense For Job</label>
    </div>
    <div class="col s2">
        @if (!Model.IsBrandNewExpenditureCreation)
        {
            <button id="cancel-job-change" type="button" class="waves-effect waves-white btn-flat" onclick="undoJobChange(this)">Undo Job Change</button>
        }
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <i class="material-icons prefix">person</i>
        <select id="AvailableEmployees" class="validate"
                onchange="updateTargetEmployee(this, 'ContractorExpenditure_Detail_EmployeeId')">
            @foreach (var emp in Model.AvailableEmployees)
                {
                    if ((!Model.IsBrandNewExpenditureCreation || Model.IsOnSaveFix) && emp.EmployeeId == Model.ContractorExpenditure.Detail.EmployeeId)
                    {
                        <option value="@emp.EmployeeId" selected="selected">@emp.First, @emp.Last</option>
                    }
                    else
                    {
                        <option value="@emp.EmployeeId">@emp.First, @emp.Last</option>
                    }
            }
        </select>
        <label asp-for="ContractorExpenditure.EmployeeName">For Employee</label>
    </div>
    <div class="input-field col s6">
        <input asp-for="ContractorExpenditure.Detail.ExpensedOn" type="text" class="datepicker"
               value="@Model.ContractorExpenditure.Detail.ExpensedOn.ToString("MMM dd, yyyy")" />
        <label asp-for="ContractorExpenditure.Detail.ExpensedOn" class="control-label">Expense On</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s10">
        <input asp-for="ContractorExpenditure.Detail.CompanyName" placeholder="Company Name" />
        <label asp-for="ContractorExpenditure.Detail.CompanyName">Company Name</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s8">
        <input asp-for="ContractorExpenditure.Detail.OrionPONumber" placeholder="Brief Explanation" />
        <label asp-for="ContractorExpenditure.Detail.OrionPONumber">PO Number</label>
    </div>
    <div class="input-field col s4">
        <i class="material-icons prefix">attach_money</i>
        @Html.EditorFor(x => x.ContractorExpenditure.Detail.TotalPOContractAmount)
        <label asp-for="ContractorExpenditure.Detail.TotalPOContractAmount">Amount</label>
    </div>
</div>
