@model orion.web.Reports.ReportSelectionViewModel

<nav id="bread-crumb-bar" class="red darken-3 z-depth-3">
    <div class="nav-wrapper ">
        <div class="col s12">
            <a href="#!" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb"> Report Listing</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col s3 offset-s1">

        <div class="card-panel  grey lighten-3">
            <div class="row">

                <h6>Select Report</h6>
                 </div>
            @foreach (var rpt in Model.AvailableReports())
                {
                    <div class="row">
                        <a href="#!" class="btn rpt-link" rpt-name="@rpt">   @rpt </a>
                    </div>
                }
           
        </div>
    </div>



    <div class="col s8">
        @if (Model.PayPeriodReportCriteria.CanView)
        {
            <div id="pay-period-report" rpt-section="@Model.PayPeriodReportCriteria.ReportName" style="display:none">

                @Html.EditorFor(m => Model.PayPeriodReportCriteria.Criteria, "~/UI/Views/Reports/PayPeriodReportCriteria.cshtml")

            </div>
        }

        @*
        @if (Model.JobSummaryReportCriteria.CanView)
        {
            <div id="job-summary-report" rpt-section="@Model.JobSummaryReportCriteria.ReportName" style="display:none">

                @Html.EditorFor(m => Model.JobSummaryReportCriteria.Criteria, "~/UI/Views/Reports/ProjectStatusReportCriteria.cshtml")

            </div>
        }
        *@

        @if (Model.QuickJobTimeReportCriteria.CanView)
        {
            <div id="job-detail-report" rpt-section="@Model.QuickJobTimeReportCriteria.ReportName" style="display:none">

                @Html.EditorFor(m => Model.QuickJobTimeReportCriteria.Criteria, "~/UI/Views/Reports/QuickJobTimeReportCriteria.cshtml")

            </div>
        }
        @if (Model.DetailedExpenseForJobReportCriteria.CanView)
        {
            <div id="detail-expense-report" rpt-section="@Model.DetailedExpenseForJobReportCriteria.ReportName" style="display:none">

                @Html.EditorFor(m => Model.DetailedExpenseForJobReportCriteria.Criteria, "~/UI/Views/Reports/DetailedExpenseForJobReportCriteria.cshtml")

            </div>
        }
        @if (Model.AllOpenJobsSummaryReportCriteria.CanView)
        {
            <div id="all-open-jobs-summary-report" rpt-section="@Model.AllOpenJobsSummaryReportCriteria.ReportName" style="display:none">

                @Html.EditorFor(m => Model.AllOpenJobsSummaryReportCriteria.Criteria, "~/UI/Views/Reports/AllOpenJobsSummaryReportCriteria.cshtml")

            </div>
        }
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">$(document).ready(function () {
            $("a.rpt-link").click(function (e) {
                e.preventDefault();

                let selection = $(e.target).attr('rpt-name');
                console.log(selection);
                $('div[rpt-section]:not(div[rpt-section="' + selection + '"])').hide();

                $('div[rpt-section="' + selection + '"]').show();
       
            });

            $("div[rpt-section]:first").show();

            $("#jan-1-btn").click(function (e) {
                let date = new Date();
                let startInput = $('#QuickJobTimeReportCriteria_Criteria_PeriodSettings_Start')[0];
                startInput.value = '2020-01-01';
            });
        });</script>
}




