@using Orion.Web.BLL.Authorization
@using Orion.Web.Employees
@using System.Reflection
@using Orion.Web.ApplicationStartup

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - orion.web</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        -->
    <link rel="stylesheet" href="/css/material-compiled-sass/materialize.css" />
    <link rel="stylesheet" href="/css/site-breadcrumb.css" />
    <link rel="stylesheet" href="/css/site-toast.css" />
   
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!--
    <link rel="stylesheet" href="/css/site-buttons.css" />
    <link rel="stylesheet" href="/css/site-date-picker.css" />
    -->
</head>
<body>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        #sys-mgmt-dropdown li a {
            color: #FFF;
            font-size: 15px;
        }

        footer {
            height: 30px;
            line-height: 30px;
        }

        nav ul a {
            display: inline;
            vertical-align: middle;
        }

        li.slim-it-down a {
            padding-left: 0px;
            padding-right: 0px;
        }

        li.slim-it-down a i {
            margin-left: 0px;
            padding-left: 4px;
        }
    </style>
    @if (User.Identity.IsAuthenticated)
    {
        <ul id="sys-mgmt-dropdown" class="dropdown-content grey darken-3 text-white" style="top:64px">
            <li><a class="waves-effect waves-light text-white" asp-controller="Jobs" asp-action="Index">Jobs</a></li>
            <li><a class="waves-effect waves-light text-white" asp-controller="Task" asp-action="List">Tasks</a></li>
            <li><a class="waves-effect waves-light text-white" asp-controller="Clients" asp-action="ListClients">Clients</a></li>
            <li><a class="waves-effect waves-light text-white" asp-controller="Site" asp-action="ListSites">Sites</a></li>
            <li><a class="waves-effect waves-light text-white" asp-controller="Employee" asp-action="List">Employees</a></li>
            <li><a class="waves-effect waves-light text-white" asp-controller="Jobs" asp-action="Create">Create New Job</a></li>
        </ul>

        <nav class="grey darken-3">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="">
                    <li class="valign-wrapper"><img src="/images/orion_logo_brand.png" style="height:28px;margin-top:12px"></li>
                    <li><a class="waves-effect waves-light" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (User.CanManageSystemConfiguration())
                    {
                    <li class="slim-it-down"><a class="dropdown-trigger custom-drop-down nav-dd" href="#!" data-target="sys-mgmt-dropdown">System Management<i class="material-icons right">arrow_drop_down</i></a></li>
                    }                       
                    @if(User.CanManageExpenses())
                    {
                    <li><a class="waves-effect waves-light" asp-controller="ExpenseManagement" asp-action="Index">Expense Management</a></li>
                    }
                    @if(User.CanViewOtherUsersTime())
                    {
                    <li><a class="waves-effect waves-light" asp-controller="TimeApproval" asp-action="Index">Time Approval</a></li>
                    }
                    <li><a class="waves-effect waves-light" asp-controller="TimeEntry" asp-action="Index">Time Entry</a></li>
                    <li><a class="waves-efect waves-light" asp-controller="Reports" asp-action="Index">View Reports</a></li>
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </nav>
    }




    <partial name="_CookieConsentPartial" />


    @if (User.Identity.IsAuthenticated)
    {
        <main>
            @RenderBody()
        </main>
        <footer class="red darken-4 white-text">
            <div class="footer-copyright">
                <div class="container">
                    &copy; 2025 - Pragmatic Software Solutions LLC
                    <div class="right">@Startup.AppVersion.Value</div>
                </div>
            </div>
        </footer>
    }
    else
    {
        <div>
            @RenderBody()
        </div>
    }



    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>


    <script src="/js/site.js" type="text/javascript"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var selects = document.querySelectorAll('select.custom-drop-down.nav-dd');
            if (selects.length) {
                //create nav drop down and ensure that a click makes it show below the element
                var selectInstances = M.FormSelect.init(selects, { coverTrigger: false });

            }
        });

        //clear validation on reset button clicked
        (function ($) {
            //re-set all client validation given a jQuery selected form or child
            $.fn.resetValidation = function () {
                var $form = this.closest('form');

                //reset jQuery Validate's internals
                $form.validate().resetForm();

                //reset unobtrusive validation summary, if it exists
                $form.find("[data-valmsg-summary=true]")
                    .removeClass("validation-summary-errors")
                    .addClass("validation-summary-valid")
                    .find("ul").empty();

                //reset unobtrusive field level, if it exists
                $form.find("[data-valmsg-replace]")
                    .removeClass("field-validation-error")
                    .addClass("field-validation-valid")
                    .empty();

                return $form;
            };
        })(jQuery);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
