@model orion.web.TimeEntries.TimeEntryViewModel

<tr auto-sum-row @Html.Raw($"row-{Model.RowId}")  effort-id="@Model.RowId">
    <td colspan="2" class="description-cell">
        <div class="row">
            <div class="col s12 jobcode-name">
                @Model.SelectedJobCode / @Model.SelectedEntryJobName
             @Html.HiddenFor(model => model.RowId)
            @Html.HiddenFor(model => model.SelectedTaskId)
            @Html.HiddenFor(model => model.SelectedJobId)
            </div>
            
            
           
        </div>
      <div class="row">
          <div class="col s12 task-name">
              @Model.SelectedEntryTaskName
        
              <ul id="@Html.Raw($"job-task-ops-dropdown-{Model.RowId}")" class="dropdown-content job-task-ops-dropdown hide-if-submitted" >
                  <li><a id="@Html.Raw($"row-{Model.RowId}")" class="action-change-row waves-effect waves-light text-white" row="@Model.RowId" action="edit" href="#!">Change Job/Task<i class="tiny material-icons">create</i></a></li>
                  <li><a class="action-remove-row waves-effect waves-light text-white" row="@Model.RowId" action="remove" href="#!">Delete Job/Task<i class="tiny material-icons">delete</i></a></li>
              </ul>
              <a href="#!"class="option-btn dropdown-trigger btn-floating btn-small waves-effect waves-light red hide-if-submitted" data-target="@Html.Raw($"job-task-ops-dropdown-{Model.RowId}")">
              <i class="material-icons">mode_edit</i></a>
          </div>
          
      </div>
    </td>
    @Html.EditorFor(model => model.Saturday, "~/UI/Views/TimeEntry/TimeEntryCell.cshtml")
    @Html.EditorFor(model => model.Sunday, "~/UI/Views/TimeEntry/TimeEntryCell.cshtml")
    @Html.EditorFor(model => model.Monday, "~/UI/Views/TimeEntry/TimeEntryCell.cshtml")
    @Html.EditorFor(model => model.Tuesday, "~/UI/Views/TimeEntry/TimeEntryCell.cshtml")
    @Html.EditorFor(model => model.Wednesday, "~/UI/Views/TimeEntry/TimeEntryCell.cshtml")
    @Html.EditorFor(model => model.Thursday, "~/UI/Views/TimeEntry/TimeEntryCell.cshtml")
    @Html.EditorFor(model => model.Friday, "~/UI/Views/TimeEntry/TimeEntryCell.cshtml")
    <td class="form-inline readonly-header-cell hide-on-small-only" style="display:none" day="ot-col-total"></td>
    <td class="form-inline readonly-header-cell hide-on-small-only" day="col-total"></td>
</tr>


