@model Orion.Web.TimeEntries.WeekListViewModel
@using Orion.Web.Employees


<nav id="bread-crumb-bar" class="red darken-3">
    <div class="nav-wrapper ">
        <div class="col s12">
            <a href="#!" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">@Model.EmployeeDisplayName's Weekly Listing</a>

        </div>
    </div>
</nav>
<div class="row">
    <div class="container">


        <div class="row">
            <div class="col s3">
                <div class="card-panel grey lighten-3 z-depth-2">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <a class="btn text-white waves-effect waves-light" asp-action="Current" asp-route-employeeId="@Model.EmployeeId">Edit This Weeks Time</a>
                            </div>
                                @if (User.IsInRole(UserRoleName.Admin))
                                {
                        <div class="row ">
                            <a class="btn text-white waves-effect waves-light" href="@Url.Action("Index", "Reports")">View Reports</a>
                        </div>
                                }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">


                            <div class="row">
                               
                                    <label for="weeks-to-show">Number of weeks to show</label>
                                    <select id="weeks-to-show">
                                        <!option value="5" @(Model.WeeksToShow == 5 ? "selected" : "")>5</!option>
                                        <!option value="10" @(Model.WeeksToShow == 10 ? "selected" : "")>10</!option>
                                        <!option value="20" @(Model.WeeksToShow == 20 ? "selected" : "")>20</!option>
                                        <!option value="50" @(Model.WeeksToShow == 50 ? "selected" : "")>50</!option>

                                    </select>

                               


                            </div>
                            <div class="row">
                                <label for="week-date">Start with week containing</label>
                                <input id="week-date" type="text" class="start-week datepicker" value="@Model.StartWithDate.ToShortDateString()">

                            </div>
                           </div>

                    </div>
                </div>


            </div>

            <div class="col s9">

                <table class="table striped hover z-depth-3">
                    <thead>
                        <tr class="week-list-row z-depth-3">
                            <th>
                                Week Start
                            </th>
                            <th>
                                Week End
                            </th>
                            <th>
                                Reg
                            </th>
                            <th>
                                OT
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Weeks)
                        {
                            <tr class="week-list-row">
                                <td>
                                    @item.WeekStart.ToShortDateString()
                                </td>
                                <td>
                                    @item.WeekEnd.ToShortDateString()
                                </td>
                                <td>
                                    @item.TotalRegular.ToString("0.#")
                                </td>
                                <td>
                                    @item.TotalOverTime.ToString("0.#")
                                </td>
                                <td>
                                    @if (item.ApprovalStatus == Orion.Web.TimeEntries.TimeApprovalStatus.Unkown)
                                    {
                                        <span class="label label-info">Not submitted</span>
                                    }
                                    else if (item.ApprovalStatus == Orion.Web.TimeEntries.TimeApprovalStatus.Approved)
                                    {
                                        <span class="label label-success">
                                            @item.ApprovalStatus
                                        </span>
                                    }
                                    else if (item.ApprovalStatus == Orion.Web.TimeEntries.TimeApprovalStatus.Rejected)
                                    {
                                        <span class="label label-danger">
                                            @item.ApprovalStatus
                                        </span>
                                    }
                                    else if (item.ApprovalStatus == Orion.Web.TimeEntries.TimeApprovalStatus.Submitted)
                                    {
                                        <span class="label label-primary">
                                            @item.ApprovalStatus
                                        </span>
                                    }
                                </td>
                                <td>
                                    <div style="display:inline-block">
                                        @if (item.IsCurrentWeek)
                                        {
                                            @Html.ActionLink("Details (Current Week)", "Edit", new { weekId = item.WeekId, employeeId = Model.EmployeeId })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Details", "Edit", new { weekId = item.WeekId, employeeId = Model.EmployeeId })
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<link rel="stylesheet" href="/css/site-table.css" />


@section scripts {
    
    
    <script type="text/javascript">$(function () {
    
    $('.start-week').change(function () {
        console.log("start-week changed!");
                reloadIfNewSettingsPresent();
    });

    $('#weeks-to-show').change(function () {
        console.log("week to show changed!");
                reloadIfNewSettingsPresent();
    });

            function reloadIfNewSettingsPresent() {
                let date = $('.start-week').val();
                let weeksToShow = $('#weeks-to-show').val();
                let newSettings = window.location.pathname + "?" + $.param({ 'startWithDate': date, 'weeksToShow': weeksToShow });
                if (newSettings != window.location.href) {
                    window.location.href = newSettings;
                }
            };
        });</script>
}
