@using orion.web.Employees
@using orion.web.TimeEntries

@model orion.web.TimeEntries.FullTimeEntryViewModel

<nav id="bread-crumb-bar" class="red darken-3">
    <div class="nav-wrapper ">
        <div class="col s12">
            <a href="#!" class="breadcrumb">Home</a>
            <a href="@Url.Action("IndexForEmployee","TimeEntry",new { employeeId = Model.EmployeeId })" class="breadcrumb"> @Model.EmployeeDisplayName's Weekly Listing</a>
            <a href="#!" class="breadcrumb">Time Entry For Week Starting: @Model.Week.WeekStart.ToShortDateString()</a>
            <input type="hidden" id="current-week-id" asp-for="Week.WeekId" />
            <input type="hidden" id="current-employee-id" asp-for="EmployeeId" />
        </div>
    </div>
</nav>

<div class="row tighter">
    <div class="col s3">
        <a href="@Url.Action(nameof(TimeEntryController.Edit),"TimeEntry",new { employeeId = Model.EmployeeId, weekId = Model.Week.WeekId - 1 })" class="btn grey darken-2">
            Previous Week
        </a>
    </div>
    <div class="col s3">
        <span>
            <label asp-for="Week.WeekStart" class="control-label"></label> @Model.Week.WeekStart.ToShortDateString()
        </span>
    </div>
    <div class="col s3">
        <span>

            <label asp-for="Week.WeekEnd" class="control-label"></label> @Model.Week.WeekEnd.ToShortDateString()
        </span>

    </div>
    <div class="col s3">
        <a href="@Url.Action(nameof(TimeEntryController.Edit),"TimeEntry",new { employeeId = Model.EmployeeId, weekId = Model.Week.WeekId + 1 })" class="btn grey darken-2"> Next Week </a>
    </div>
</div>

<style>

    #time-entry td,
    #time-entry td input[type='text'],
    #time-entry th {
        text-align: center;
    }

        #time-entry th.job-task-description {
            min-width: 315px;
        }

        #time-entry td.description-cell {
            text-align: left;
        }

    #time-entry td {
        line-height: 10px;
        font-size: 9px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

        #time-entry td label {
            color: #000000;
        }



    #time-entry tbody tr td.description-cell {
        font-size: 15px;
        font-weight: bold;
    }

    #time-entry thead tr,
    #time-entry tfoot tr,
    #time-entry td.readonly-header-cell,
    #time-entry th.readonly-header-cell {
        background: #37474f;
        color: #FFF;
        font-size: inherit;
        text-align: center;
    }

    div.week-errors {
        padding: 6px;
        margin: 8px;
        background-color: #c62828;
        color: #FFF;
        font-weight: bold;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: .7rem;
    }



    table tfoot tr th, table thead tr th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    td.description-cell div.row {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    div.jobcode-name {
        font-size: .75rem;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 1px;
        margin-right: 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 345px;
    }
        div.jobcode-name.jobname {
            font-size: .65rem;
            overflow-wrap: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
        div.jobcode-name.jobcode {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    div.task-name {
        font-size: .85rem;
    }
        div.task-name a {
            line-height: 11px;
            
        }

    .job-task-ops-dropdown, .job-task-ops-dropdown.drop-down-content {
        width: 175px;
        min-width: 175px;
    }

        .job-task-ops-dropdown.drop-down-content li a {
            padding: 2px;
            margin: 0px;
        }

        .job-task-ops-dropdown li a.action-change-row, .job-task-ops-dropdown li a.action-remove-row {
            font-size: .75rem;
            padding: 5px;
            margin: 0px;
        }


    a.option-btn.btn-floating.btn-small i {
        margin: 0px;
        font-size: 0.75rem;
        line-height: 13px;
    }

    a.option-btn.btn-floating.btn-small {
        float: left;
        height: 13px;
        width: 13px;
        font-size: 8px;
        margin-top: -2px;
        line-height: 11px;
        opacity: 60%;
        margin-right: 3px;
    }

    .validation-summary-valid {
        display: none;
        font-size: 1.5em;
    }
    .tighter {
        padding-left: 3%;
        padding-right: 3%;
    }
</style>
<form asp-action="Save" method="post" id="main-time-entry-form">


    <div class="row">
        <div class="col s12">
            <div asp-validation-summary="All" class="col s10 offset-s1 text-danger card-panel week-errors pulse rounded"></div><div class="col s1"></div>
            <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
                    let errors = document.querySelectorAll('div.week-errors ul li');
                    if (errors.length) {
                        console.log(errors[0].innerHTML);
                        let iconRow = document.createElement("li");
                        iconRow.innerHTML = '<i class="tiny material-icons">error_outline</i>';
                        console.log("to add", iconRow);
                        errors[0].parentElement.prepend(iconRow);
                        errors.forEach(li => li.innerHTML = '&nbsp;&nbsp;' + li.innerHTML);
                    }
                    setTimeout(() => {
                        console.log('remove pulse');
                        document.getElementsByClassName("week-errors")[0].classList.remove('pulse');
                        console.log('pulse removed');
                    }, 3500);
                })</script>
        </div>
    </div>
    <div class="row tighter">
        <div class="col s12">


            @if (Model.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Approved
|| Model.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Submitted)
            {
                <div class="row">
                    <div class="col s8 offset-s2">
                        <h5 >
                            <strong>Please Note:</strong> No more changes are allowed for timesheet becuase it is already @Model.ApprovalStatus.
                        </h5>
                    </div>
                </div>
            }

            <table class="table highlight z-depth-4 striped" id="time-entry">
                <thead>
                    <tr class="z-depth-2">
                        <th class="job-task-description" colspan="2">Effort</th>
                        <th day="col-saturday">
                            Sat
                            <a href="#" class="ot-button white-text">
                                <i class="tiny material-icons">access_time</i>
                            </a>
                        </th>
                        <th style="display:none" day="ot-col-saturday">OT-Sat</th>
                        <th day="col-sunday">
                            Sun
                            <a href="#" class="ot-button white-text">
                                <i class="tiny material-icons">access_time</i>
                            </a>
                        </th>
                        <th style="display:none" day="ot-col-sunday">OT-Sun</th>
                        <th day="col-monday">
                            Mon
                            <a href="#" class="ot-button white-text">
                                <i class="tiny material-icons">access_time</i>
                            </a>
                        </th>
                        <th style="display:none" day="ot-col-monday">OT-Mon</th>
                        <th day="col-tuesday">
                            Tues
                            <a href="#" class="ot-button white-text">
                                <i class="tiny material-icons">access_time</i>
                            </a>
                        </th>
                        <th style="display:none" day="ot-col-tuesday">OT-Tue</th>
                        <th day="col-wednesday">
                            Wed
                            <a href="#" class="ot-button white-text">
                                <i class="tiny material-icons">access_time</i>
                            </a>
                        </th>
                        <th style="display:none" day="ot-col-wednesday">OT-Wed</th>
                        <th day="col-thursday">
                            Thur
                            <a href="#" class="ot-button white-text">
                                <i class="tiny material-icons">access_time</i>
                            </a>
                        </th>
                        <th style="display:none" day="ot-col-thursday">OT-Thur</th>
                        <th day="col-friday">
                            Fri
                            <a href="#" class="ot-button white-text">
                                <i class="tiny material-icons">access_time</i>
                            </a>
                        </th>
                        <th style="display:none" day="ot-col-friday">OT-Fri</th>
                        <th style="display:none" day="ot-col-total">OT-Total</th>
                        <th day></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var thing in Model.TimeEntryRow)
                        {
                            @Html.EditorFor(m => thing, "~/UI/Views/TimeEntry/TimeEntryRow.cshtml", "TimeEntryRow[" + i++ + "]")
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">
                            <button type="button"
                                    id="AddJob" class="btn grey darken-2">
                                Add Job/Task
                            </button>
                        </th>
                        <th day="col-saturday"></th>
                        <th day="ot-col-saturday" style="display:none"></th>

                        <th day="col-sunday"></th>
                        <th day="ot-col-sunday" style="display:none"></th>

                        <th day="col-monday"></th>
                        <th day="ot-col-monday" style="display:none"></th>

                        <th day="col-tuesday"></th>
                        <th day="ot-col-tuesday" style="display:none"></th>

                        <th day="col-wednesday"></th>
                        <th day="ot-col-wednesday" style="display:none"></th>

                        <th day="col-thursday"></th>
                        <th day="ot-col-thursday" style="display:none"></th>

                        <th day="col-friday"></th>
                        <th day="ot-col-friday" style="display:none"></th>

                        <th day="ot-col-total" class="readonly-header-cell hide-on-small-only" style="display:none"></th>
                        <th day="col-total" class="readonly-header-cell hide-on-small-only"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row tighter">
        <div class="col s12">

            @if (Model.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Unkown
|| Model.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Rejected)
            {
                <input type="submit" name="postType" value="Copy Job/Tasks From Previous Week" class="btn grey darken-2 white-text" />
                <input id="save-btn" type="submit" name="postType" value="Save" class="btn grey darken-2" />
                <button type="button" class="waves-effect waves-white btn" id="submit-modal-trigger">Submit</button>

            }

            @if (User.IsInRole(UserRoleName.Admin))
            {
                @if (Model.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Submitted)
                {
                    <input type="submit" name="postType" class="btn" value="Approve" id="btnApprove" />
                }

                @if (Model.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Submitted
|| Model.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Approved)
                {
                    <input type="submit" name="postType" class="btn " value="Reject" id="btnReject" />
                }
            }

        </div>
    </div>

    <div class="modal modal-small" id="submitModal">
        <div class="row">
            <div class="col s3 red darken-3 white-text modal-info-blurb z-depth-4">
                <div class="container">
                    
                </div>
            </div>
            <div class="col s9">
                <div class="row" style="padding:20px">
                   
                            <h4>
                                Are you sure you want to submit your time?
                            </h4>
                      
                </div>
                
                <div class="modal-footer" style="vertical-align:bottom;margin-top:30px">
                    <button type="submit" name="postType" value="Submit" class="waves-effect waves-white btn-flat" >Submit Time</button>
                    <button type="button" class="modal-close waves-effect waves-white btn-flat" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .modal {
            overflow: hidden;
            min-height: 500px !important;
        }

        .modal-small {
            overflow: hidden;
            max-height: 50%;
            width: 40%;
            min-height: 200px !important;
        }

        .modal-info-blurb {
            height: 100vh;
        }

        .ot-cell-gradient {
            background: linear-gradient(90deg, rgba(255,255,255,0) 73%, rgba(55,71,79,0.55) 100%);
        }
    </style>

    <div id="add-row-modal" class="modal">

        <div class="row">
            <div class="col s3 red darken-3 white-text modal-info-blurb z-depth-4">
                <div class="container">
                    <h5>Add Job To Time Sheet</h5>
                    <h6>Don't see your job? Click below to manage your job list.</h6>
                    <a class="btn grey darken-2" asp-controller="Jobs" asp-action="List" delay-for-save="yup">Manage</a>
                </div>
            </div>
            <div class="col s9" style="height:100%; padding:30px">

                <div class="row">
                    @if (Model.NewEntry.AvailableJobs.Any())
                    {
                        <div class="row" style="display:none" id="notification-block">
                            <div class="col s12">
                                <div id="notification-block-content" class="text-danger card-panel week-errors pulse rounded"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label asp-for="NewEntry.SelectedJobId">Job To Add</label>
                                <select asp-for="NewEntry.SelectedJobId" class="custom-drop-down job"
                                        asp-items="@(new SelectList(Model.NewEntry.AvailableJobs, "JobId", "FullJobCodeWithName"))">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <label asp-for="NewEntry.SelectedTaskCategory">Task Category</label>
                                <select asp-for="NewEntry.SelectedTaskCategory"
                                        disabled
                                        class="custom-drop-down category">

                                    @foreach (var cat in Model.NewEntry.AvailableCategories)
                                    {
                                        <option value="@cat.Name" internal-only="@cat.IsInternalCategory.ToString().ToLower()">@cat.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col s6">
                                <label asp-for="NewEntry.SelectedTaskId">Task</label>
                                <select asp-for="NewEntry.SelectedTaskId" disabled class="custom-drop-down task">

                                    @foreach (var task in Model.NewEntry.AvailableTasks)
                                    {
                                        <option value="@task.TaskId" class="@task.Category.Name">@task.LegacyCode - @task.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }

                </div>

                <div class="modal-footer" style="vertical-align:bottom">
                    <button id="ModalSubmit" type="button" class="waves-effect waves-white btn-flat" name="submit-button-thingy">Add Job-Task</button>
                    <button type="button" class="modal-close waves-effect waves-white btn-flat" data-dismiss="modal">Cancel</button>
                </div>
            </div>


        </div>

    </div>



    <input asp-for="ApprovalStatus" type="hidden" />
    @if (User.IsInRole(UserRoleName.Admin))
    {
        <input type="hidden" id="IsAdmin" value="true" />
    }
    <input asp-for="SelectedRowId" type="hidden" />
</form>

@section scripts {

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>


    <script type="text/javascript" src="/js/TimeEntry/weekTableSumDefinition.js"></script>
    <script type="text/javascript" src="/js/TimeEntry/weekTimeEntryTableSummation.js"></script>
    <script type="text/javascript" src="/js/TimeEntry/weekTimeEntryOvertimeToggle.js"></script>
    <script type="text/javascript" src="/js/TimeEntry/efforts/effort-repository.js"></script>
    <script type="text/javascript" src="/js/TimeEntry/modal-drop-down.js"></script>
    <script type="text/javascript" src="/js/TimeEntry/add-job-task-modal.js"></script>
    <script type="text/javascript" src="/js/TimeEntry/auto-cell-save.js"></script>

    <script type="text/javascript" src="/js/TimeEntry/efforts/remove-effort-row.js"></script>
    <script type="text/javascript" src="/js/TimeEntry/efforts/add-effort-row.js"></script>
    <script type="text/javascript" src="/js/TimeEntry/efforts/change-effort-row.js"></script>
    <script type="text/javascript" >
        function showSubmitModal(targetId) {
            let modalToShow = document.getElementById(targetId);
            let instance = M.Modal.init(modalToShow, {});
            instance.open();
        }

        $(document).ready(function () {

            const approvalStatus = $('#ApprovalStatus').val();
            const isAdmin = $('#IsAdmin').val() == "true";



            if ((approvalStatus == "Approved" || approvalStatus == "Submitted")) {
                $("form :input").not('.navbar-btn').prop("disabled", true);
                $('#AddJob').hide();
                $('a.row-action').hide();
                $('.hide-if-submitted').hide();
                if (isAdmin) {
                    $("form :input[type='submit']").prop("disabled", false);
                    $("form :input[name='__RequestVerificationToken']").prop("disabled", false);
                }
            };


            //enter key
            $('form').bind('keypress', function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $('#save-btn').click();
                }
            });

            $('#save-btn').click(e => {
                let form = $("#main-time-entry-form");
                let validator = form.validate();
                if (!form.valid()) {
                    $('div.week-errors').removeClass('validation-summary-valid');
                    $('div.week-errors').addClass('validation-summary-errors');
                    e.preventDefault();
                }
            });

            $('#submit-modal-trigger').click(e => {
                let form = $("#main-time-entry-form");
                let validator = form.validate();
                if (form.valid()) {
                    $('div.week-errors').removeClass('validation-summary-errors');
                    $('div.week-errors').addClass('validation-summary-valid');
                    showSubmitModal('submitModal');
                }
                else {
                    $('div.week-errors').removeClass('validation-summary-valid');
                    $('div.week-errors').addClass('validation-summary-errors');
                }                
            });

        });</script>
}



