@model Orion.Web.JobsTasks.TaskListViewModel

<nav id="bread-crumb-bar" class="red darken-3 z-depth-3">
    <div class="nav-wrapper ">
        <div class="col s12">
            <a href="#!" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb"> Task List</a>
        </div>
    </div>
</nav>

<style>
    td.action-link-cell {
        min-width: 290px;
    }
</style>

<div class="">
    <div class="row">
        <div class="col s3">


            <a class="btn  btn-default  btn-margin-right pull-right " asp-action="Create">Create New</a>

            <a class="btn btn-default btn-margin-right pull-right " asp-action="Current" asp-controller="TimeEntry">Edit This Weeks Time</a>

        </div>
        <div class="col s9">
            <label for="quick-filter">Quick Filter Rows</label>
            <input id="quick-filter" type="text" class="input form-control" />
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <table class="table striped hover z-depth-2">
                <thead>
                    <tr class="z-depth-2">

                        <th class="job-code-link-cell">
                            @Html.DisplayNameFor(model => model.HeaderHelp.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HeaderHelp.Name)
                        </th>
                        <th class="job-code-link-cell">
                            @Html.DisplayNameFor(model => model.HeaderHelp.UsageStatus)
                        </th>
                    </tr>

                </thead>
                <tbody id="table-data">
                    @foreach (var item in Model.Tasks)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.ActionLink($"{item.LegacyCode}-{item.Name}", "Edit", new { id = item.TaskId })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsageStatus.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>




</div>
<link rel="stylesheet" href="/css/site-table.css" />

@section Scripts {
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">$(document).ready(function () {
            $("#quick-filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table-data tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });</script>
}
