@model orion.web.TimeApproval.TimeApprovalList
@using orion.web.Employees

<nav id="bread-crumb-bar" class="red darken-3 z-depth-3">
    <div class="nav-wrapper ">
        <div class="col s12">
            <a href="#!" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb"> Approval Listing</a>
        </div>
    </div>
</nav>
<form asp-action="Index" method="post">
    <div class="row">
        <div class="col s4">
            <div class="card-panel grey lighten-2 z-depth-3">
                <div class="row">
                    <div class="col s12"></div>
                    <h4>Show Weeks Within Window ...</h4>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label asp-for="PeriodStartData" class="control-label">On or After</label>
                        <input asp-for="PeriodStartData" type="text" class=" datepicker" value="@Model.PeriodStartData.ToString("MMM dd, yyyy")" />

                        <span asp-validation-for="PeriodStartData" class="text-danger"></span>
                    </div>
                    <div class="col s6">
                        <label asp-for="PeriodEndDate" class="control-label">On or Before</label>
                        <input asp-for="PeriodEndDate" type="text" class=" datepicker" value="@Model.PeriodEndDate.ToString("MMM dd, yyyy")" />
                        <span asp-validation-for="PeriodEndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <input type="submit" class="btn btn-default" value="Apply" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection with-header week-type-selector z-depth-1">
                            <li class="collection-header"><h4>Show Section</h4></li>
                            <li week-type="missing" class="collection-item ">Missing</li>
                            <li week-type="submitted" class="collection-item ">Submitted</li>
                            <li week-type="rejected" class="collection-item ">Rejected</li>
                            <li week-type="approved" class="collection-item ">Approved</li>
                            <li week-type="hidden" class="collection-item ">Hidden</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s8 week-types">
            <div class="row" id="missing">
                <div class="col s12">
                    <h4>Missing Weeks (@(Model.MissingEntries?.Count() ?? 0))</h4>
                </div>
                <div class="col s12">
                    @Html.EditorFor(model => model.MissingEntries, "~/UI/Views/TimeApproval/TimeApprovalSection.cshtml")

                </div>
            </div>

            <div class="row" id="submitted">
                <div class="col s12">

                    <h4>Submitted Weeks (@(Model.SubmittedEntries?.Count() ?? 0))</h4>
                </div>
                <div class="col s12">
                    @Html.EditorFor(model => model.SubmittedEntries, "~/UI/Views/TimeApproval/TimeApprovalSection.cshtml")

                </div>
            </div>

            <div class="row" id="rejected">
                <div class="col s12">
                    <h4>Rejected Weeks (@(Model.RejectedEntries?.Count() ?? 0))</h4>
                </div>
                <div class="col s12">
                    @Html.EditorFor(model => model.RejectedEntries, "~/UI/Views/TimeApproval/TimeApprovalSection.cshtml")

                </div>
            </div>

            <div class="row" id="approved">
                <div class="col s12">
                    <h4>Approved Weeks (@(Model.RejectedEntries?.Count() ?? 0))</h4>
                </div>
                <div class="col s12 approved-pool">
                    @Html.EditorFor(model => model.ApprovedEntries, "~/UI/Views/TimeApproval/TimeApprovalSection.cshtml")

                </div>
            </div>
            <div class="row" id="hidden">
                <div class="col s12">
                    <h4>Hidden Weeks (@(Model.RejectedEntries?.Count() ?? 0))</h4>

                </div>
                <div class="col s12">
                    @Html.EditorFor(model => model.HiddenEntries, "~/UI/Views/TimeApproval/TimeApprovalSection.cshtml")
                </div>
            </div>


        </div>
    </div>
</form>


<link rel="stylesheet" href="/css/site-table.css" />

@section scripts {

<script type="text/javascript">

    function setActiveOnCollectionItem(item) {
        console.log('setting active on ', item);
        document.querySelectorAll('ul.week-type-selector li.collection-item.active')
            .forEach(l => l.classList.remove('active'));
        item.classList.add('active');

        document.querySelectorAll('div.week-types > div.row')
            .forEach(s => s.style.display = "none");

        document.getElementById(item.getAttribute('week-type')).style.display = "block";

    }

    document.addEventListener('DOMContentLoaded', function () {
        var reportSelections = document.querySelectorAll('ul.week-type-selector li.collection-item');
        console.log('adding click event for ', reportSelections);
        reportSelections.forEach(el => el.addEventListener('click', e => setActiveOnCollectionItem(e.target)));
        setActiveOnCollectionItem(reportSelections[0]);

       


    });
    function tryApprove(hrefSource) {
        console.log(hrefSource);
        let employeeId = hrefSource.getAttribute('emp');
        let weekId = hrefSource.getAttribute('week');
        let rowId = 'r-' + employeeId + '-' + weekId;
        let tableRow = document.getElementById(rowId);
        let table = {};
        document.querySelectorAll('tbody.weekly-rows').forEach(tbl => {
            let row = tbl.querySelector('#' + rowId);
            if (row) {
                table = tbl;
            }
        });

        console.log(table);


        axios
            .put('/orion-api/v1/time-approval/employees/' + employeeId + '/week/' + weekId, { newApprovalState: 'Approved' })
            .then(response => {                
                if (response.status == 200) {
                    axios
                        .get('/api/Notifications')
                        .then(response => {
                            if (Object.keys(response.data).length !== 0) {

                                response.data.forEach(x => toastSuccess(`<ul><li>${x}</li></ul>`));

                            }
                        });

                    table.removeChild(tableRow);
                    let approvalBtn = tableRow.querySelector('span.approve-link');
                    let actionTds = approvalBtn.parentElement;
                    actionTds.removeChild(approvalBtn);
                    tableRow.querySelector('td.approval-state').innerHTML = response.data.timeApprovalStatus;
                    tableRow.querySelector('td.submitted-date').innerHTML = response.data.submittedDate;
                    
                    document.querySelector('div.approved-pool table tbody').appendChild(tableRow);
                }
                else {
                    toastSuccess(response.data);
                }
            });
        return false; //return false to prevent bubling event up and trying to update #section
    }
</script>
}
