@model IEnumerable<orion.web.TimeEntries.TimeApprovalDTO>
@using orion.web.Employees
@using orion.web.TimeEntries

        <table class="table striped hover z-depth-3">
            <thead>
                <tr class="z-depth-3">
                    <th>
                        @Html.DisplayNameFor(model => model.First().WeekStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().SubmittedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TimeApprovalStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TotalRegularHours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TotalOverTimeHours)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="weekly-rows">
                @foreach(var item in Model)
                {
                <tr id="r-@item.EmployeeId-@item.WeekId">
                    <td>
                        @item.WeekStartDate.ToShortDateString()
                    </td>
                    <td class="submitted-date">
                        @item.SubmittedDate?.ToShortDateString()
                    </td>
                    <td>
                        @item.EmployeeName
                    </td>
                    <td class="approval-state">
                        @item.TimeApprovalStatus
                    </td>
                    <td>
                        @item.TotalRegularHours
                    </td>
                    <td>
                        @item.TotalOverTimeHours
                    </td>
                    <td>
                        @Html.ActionLink("Details", nameof(TimeEntryController.Edit), "TimeEntry", new { WeekId = item.WeekId, employeeId = item.EmployeeId })
                        @if (!item.ApprovalDate.HasValue)
                        {
                                <span class="approve-link">|  <a href="#approve" class="approve-week" emp="@item.EmployeeId" week="@item.WeekId" onclick="return tryApprove(this)">Approve</a></span>                            
                        }


                        @if (!item.IsHidden)
                        {
                            <TEXT>| </TEXT> @Html.ActionLink("Hide", nameof(TimeApprovalController.HideEntry), "TimeApproval", new { weekId = item.WeekId, employeeId = item.EmployeeId })
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>






