@model IEnumerable<orion.web.TimeEntries.TimeApprovalDTO>
@using orion.web.Employees
@using orion.web.TimeEntries

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().WeekStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().SubmittedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TimeApprovalStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TotalRegularHours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TotalOverTimeHours)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>
                        @item.WeekStartDate.ToShortDateString()
                    </td>
                    <td>
                        @item.SubmittedDate?.ToShortDateString()
                    </td>
                    <td>
                        @item.EmployeeName
                    </td>
                    <td>
                        @item.TimeApprovalStatus
                    </td>
                    <td>
                        @item.TotalRegularHours
                    </td>
                    <td>
                        @item.TotalOverTimeHours
                    </td>
                    <td>
                        @Html.ActionLink("Details", nameof(TimeEntryController.Edit), "TimeEntry", new { WeekId = item.WeekId, employeeId = item.EmployeeId })
                        @if(!item.IsHidden)
                        {
                            <TEXT>| </TEXT> @Html.ActionLink("Hide", nameof(TimeApprovalController.HideEntry), "TimeApproval", new { weekId = item.WeekId, employeeId = item.EmployeeId })
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>






