@model orion.web.TimeEntries.WeekListViewModel
@using orion.web.Employees

<ol class="breadcrumb">
    <li class="breadcrumb-item active"> Weekly Listing</li>
</ol>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <a class="btn btn-success" asp-action="Current">Edit This Weeks Time</a>
        </div>
        @if(User.IsInRole(UserRoleName.Admin))
        {
            <div class="form-group">
                <a class="btn btn-success" href="@Url.Action("Index", "Reports")">View Reports</a>
            </div>
        }
    </div>
    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
                <tr class="week-list-row">
                    <th>
                        Week Start
                    </th>
                    <th>
                        Week End
                    </th>
                    <th>
                        Reg
                    </th>
                    <th>
                        OT
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Weeks)
                {
                    <tr class="week-list-row">
                        <td>
                            @item.WeekStart.ToShortDateString()
                        </td>
                        <td>
                            @item.WeekEnd.ToShortDateString()
                        </td>
                        <td>
                            @item.TotalRegular.ToString("0.#")
                        </td>
                        <td>
                            @item.TotalOverTime.ToString("0.#")
                        </td>
                        <td>
                            @if(item.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Unkown)
                            {
                                <span class="label label-info">Not submitted</span>
                            }
                            else if(item.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Approved)
                            {
                                <span class="label label-success">
                                    @item.ApprovalStatus
                                </span>
                            }
                            else if(item.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Rejected)
                            {
                                <span class="label label-danger">
                                    @item.ApprovalStatus
                                </span>
                            }
                            else if(item.ApprovalStatus == orion.web.TimeEntries.TimeApprovalStatus.Submitted)
                            {
                                <span class="label label-primary">
                                    @item.ApprovalStatus
                                </span>
                            }
                        </td>
                        <td>
                            <div style="display:inline-block">
                                @if(item.IsCurrentWeek)
                                {                                
                                    @Html.ActionLink("Details (Current Week)", "Edit", new { weekId = item.WeekId, employeeId= Model.EmployeeId })
                                }
                                else
                                {
                                    @Html.ActionLink("Details", "Edit", new { weekId = item.WeekId, employeeId = Model.EmployeeId })
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





