@model orion.web.Reports.ReportViewModel

<h4>@Model.ReportName</h4>
<hr />
<form asp-action="RunReport">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">

                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" type="date" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" type="date" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>



           

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SelectedJobId"> For Job(s) </label>
                <select asp-for="SelectedJobId" class="form-control"
                        asp-items="@(new SelectList(Model.AvailableJobs, "Value", "Text"))">
                    <option value="all">All Jobs</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Run" class="btn btn-default" />
                <label asp-for="@Model.ForDownload"> Download as XLSX? </label>
                <input type="checkbox" asp-for="@Model.ForDownload" />
            </div>
        </div>
    </div>
</form>
<div>
    @if(Model.ReportData != default(List<List<string>>))
    {
        <table>
            <thead>
                <tr>
                    @foreach(var thead in Model.Columns)
                    {
                        <th>@thead</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach(var col in Model.ReportData)
                {
                    <tr>
                        @foreach(var row in col)
                        {
                            <td>
                                @row
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }

    <a asp-action="Index">Back to List</a>
</div>

